<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EVE_Manufact.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EVE_Manufact.Properties.Settings>
            <setting name="MainData" serializeAs="String">
                <value />
            </setting>
            <setting name="DoUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Loaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="repro" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="reproEff" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="compressed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="baseRepro" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="windowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="region" serializeAs="String">
                <value>The Forge</value>
            </setting>
            <setting name="regionID" serializeAs="String">
                <value>10000002</value>
            </setting>
        </EVE_Manufact.Properties.Settings>
    </userSettings>
</configuration>